@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');


.container {
    background-color: #707070;
    color: white;
}

.navbar {
    font-family: 'Bodoni Moda SC', serif;
    font-size: 1.5rem;
    font-weight: bolder;
    padding-left: 5rem;
    justify-content: space-between;
    box-shadow: 2px, 4px, 8px, #708090;
    width: 100%;
}

.logo {
    padding-top: 1rem;
}

span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 1.4rem;

}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.btn {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    padding-right: 5rem;
}




