* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding-bottom: 100px; /* Space for the footer */
  }
  